* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.titleName {
  text-align: center;
  position: fixed;
  margin: 2px 5px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  transition: all 0.2 ease;
  color: white;
}

.titleName > h1 {
  font-family: "Major Mono Display", monospace;
}
.titleName > h5 {
  font-family: "Press Start 2P", cursive;
}
